@font-face {
    font-family: "sailregular";
    src: url("fonts/Sail-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "assistantregular";
    src: url("fonts/Assistant-Regular.ttf");
    font-weight: normal;
}

* {
    box-sizing: border-box;
  }

  body {
      font-family: "assistantregular", Arial, Helvetica, sans-serif;
      background-image: url('../images/021 True Sunset.png');
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      color: #04045C;
  }


#nav-container {
    width: 100%;
    margin: 0 auto;
    background-color: #1CBABC;
    float: left;
    height: 70px;
    border-bottom: solid #EEA25F 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

#navbar {
    width: 960px;
    margin: 0 auto;
}

#wrapper {
    margin: 0 auto;
    width: 960px;
    flex: 1;
    padding-top: 20px;
}

#name {
    float: left;
    background-color: #EE728C;
    color: #6CD1C8;
    padding: 0 20px 0 20px;
    line-height: 21px;
    font-family: "sailregular";
    font-size: 19px;
    height: 70px;
    text-shadow: 0 2px 2px #04045C;
}

.hr {
    border-top: 1px solid #EE728C;
    margin-bottom: 15px;
    width: 100%;
}

#portfolio .hr {
    width: 84%;
}

#portfolio h1 {
    margin-left: 48px;
}

p a {
    text-decoration: none;
    color: #EE728C;
}

p a:hover {
    color: #EE728C;
}

ul {
    list-style-type: none;
    margin: 0 auto;
}

li {
    float: right;
}

li a {
    color: #04045C;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    padding: 23px 17px 10px;
    opacity: 0.7;
    display: block;
    height: 70px;
    overflow: hidden;
}

li a:hover {
    color: #EE728C;
    background-color: #04045C;
}

#about, #portfolio, #contact {
    width: 650px;
    background-color: #EEC89C;
    margin-top: 10px;
    border: 3px solid #1CBABC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
}

#portfolio {
    padding-bottom: 20px;
}

#aboutpic {
    width: 200px;
    margin-right: 12px;
    margin-top: 8px;
    float: left;
}

.portfolioimages {
    width: 50%;
    height: 250px;
    float: left;
    /* z-index: 0; */
    padding: 10px;
}

#hangman, #rpg, #trivia, #rutgers, #rpscissors {
    /* z-index: 1; */
    position: relative;
    box-shadow: 10px 4px 40px 1px #1CBABC;
}

#hangmanfigcaption {
    position: absolute;
    top: 170px;
    right: 276px;
    padding: 0 81px 0 83px;
}

#rpgfigcaption {
    position: absolute;
    top: 170px;
    right: 10px;
    padding: 0 84px 0 72px;
}

#triviafigcaption {
    position: absolute;
    padding: 0 65px 0 79px;
    top: 170px;
    left: 9px;
}

#rutgersfigcaption {
    position: absolute;
    padding: 0 43px 0 32px;
    top: 170px;
    right: 10px;
}

#rpscissorsfigcaption {
    position: absolute;
    padding: 0px 36.5px 0px;
    top: 170px;
    left: 10px;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 figcaption {
    background-color: #EE728C;
}

figcaption:hover {
    background-color: #04045C;
    color: #1CBABC;
}

#contact {
    padding: 0 20px 30px 20px;
    line-height: 20px;
    color: #04045C;
}

.nameemailinput {
    width: 100%;
}

#textareainput {
    width: 100%;
    height: 200px;
}

#button {
    background-color: #EE728C;
    padding: 10px;
    border: solid 0px;
    width: 70px;
    margin-top: 10px;
    color: #04045C;
    font-size: 1em;
}

#button:hover {
    background-color: #6CD1C8;
}

#connect {
    float: right;
    background-color: #EEC89C;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid #1CBABC;
    margin-top: 10px;
    padding: 0 10px 20px;
    width: 270px;
}

#github, #stack, #linkedin {
    width: 30%;
    height: 75px;
}

#github:hover, #stack:hover, #linkedin:hover {
    background-color: #04045C;
}

footer {
    clear: both;
    text-align: center;
    background-color: #1CBABC;    
    margin-top: 30px;
    padding: 20px;
    border-top: #EEAC9C 5px solid;
    box-shadow: 4px -2px 10px 3px rgba(2, 0, 0, 0.2), 4px -2px 10px 0 rgba(2, 0, 0, 0.19);
}