* {
    box-sizing: border-box;
  }

  body {
      background-image: url('../images/LadyLips.png');
      margin: 0 auto;
  }

  #wrapper {
    margin: 0 auto;
    width: 960px;
}

#navbar ul {
    background-color: #DD577A;
    width: 100%;
    padding: 0 1px 0 1px;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    float: right;
}

#navbar ul li:first-child {
    float: left;
    background-color: #FE5A27;
    color: #FFF0CF;
}
#navbar ul li {
    display: inline;
    padding: 25px 15px 25px 15px;
    float: right;
}

#navbar ul li a {
    color: #FFF0CF;
    font-weight: bold;
    text-decoration: none;
    padding: 25px 25px;
}

#navbar ul li a:hover {
    color: #49AEC0;
    background-color: #FE5A27; }

#aboutpic {
    width: 200px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 8px;
}

#about, #aboutpic {
    float: left;
}

#about, #portfolio, #contact {
    width: 650px;
    background-color: #49AEC0;
    margin-top: 10px;
    padding-right: 4px;
    padding-left: 6px;
    margin-bottom: 10px;
}

#portfolio {
    float: left;
}

#contact {
    float: left;
    padding-bottom: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
}


#hangman, #rpg {
    float: left;
    padding: 10px;
    width: 50%;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 #trivia, #rutgers {
     float: left;
     padding: 10px;
     width: 50%;
 }

 .clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 #rpscissors {
     float: left;
     padding: 10px;
     width: 50%;
 }


#connect {
    float: right;
    width: 270px;
    background-color: #49AEC0;
    margin-top: 10px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 5px;
    text-align: center;
}

#github, #stack, #linkedin {
    width: 30%;
}

footer {
    clear: both;
    text-align: center;
    background-color: #DD577A;
    padding: 30px;
    margin-top: 50px;
}