* {
    box-sizing: border-box;
  }

  body {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      background-image: url('../images/LadyLips.png');
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

  #wrapper {
    margin: 0 auto;
    width: 960px;
    flex: 1;
}

#nav-container {
    width: 100%;
    margin: 0 auto;
    background-color: #DD577A;
    height: 70px;
}

#navbar {
    width: 960px;
    margin: 0 auto;
}

#name {
    float: left;
    margin: 0 auto;
    background-color: #49AEC0;
    overflow: hidden;
    padding: 0 1px 2px 1px;
}

ul {
    list-style-type: none;
    margin: 0 auto;
}

li {
    float: right;
}

li a {
    color: #FFF0CF;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    padding: 30px 15px;
    opacity: 0.7;
    display: block;
    height: 70px;
    overflow: hidden;
}

li a:hover {
    color: #49AEC0;
    background-color: #FE5A27;
}

#aboutpic {
    width: 200px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 8px;
}

#about, #aboutpic {
    float: left;
}

#about, #portfolio, #contact {
    width: 650px;
    background-color: #49AEC0;
    margin-top: 10px;
    padding-right: 4px;
    padding-left: 6px;
    margin-bottom: 10px;
}

#portfolio {
    float: left;
}

#contact {
    float: left;
    padding-bottom: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
}


#hangman, #rpg {
    float: left;
    padding: 10px;
    width: 50%;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 #trivia, #rutgers {
     float: left;
     padding: 10px;
     width: 50%;
 }

 .clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 #rpscissors {
     float: left;
     padding: 10px;
     width: 50%;
 }


#connect {
    float: right;
    width: 270px;
    background-color: #49AEC0;
    margin-top: 10px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 5px;
    text-align: center;
}

#github, #stack, #linkedin {
    width: 30%;
}

footer {
    clear: both;
    text-align: center;
    background-color: #DD577A;
    padding: 30px;
}